.wrapper #table_area {
  width: 100%;
  height: auto;
}
.wrapper #table_area,
.wrapper #table_area tr,
.wrapper #table_area th,
.wrapper #table_area td {
  border: 1px solid midnightblue;
  border-collapse: collapse;
}
.wrapper #table_area th,
.wrapper #table_area td {
  padding: 0.5rem 1rem;
}
