<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.team2.mapper.api.LocationAPIMapper">

<select id="getXY" resultType="com.team2.domain.api.LocationDTO" parameterType="com.team2.domain.api.LocationDTO">
	SELECT x,y FROM shelter
	<!--WHERE addr LIKE '%원주시%' -->
</select>

<!-- 
<select id="searchLocationsByKeyword" resultType="com.team2.domain.api.LocationDTO" parameterType="com.team2.domain.api.LocationDTO">
        SELECT x, y FROM shelter
        WHERE addr LIKE CONCAT('%', #{keyword}, '%')
</select>
 -->

</mapper>