<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.team2.mapper.member.MemberMapper">

	<select id="preLogin" parameterType="com.team2.domain.member.MemberDTO" resultType="com.team2.domain.member.MemberDTO">
		SELECT
			`serial_no`, `pw`
		FROM
			`member`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="login" parameterType="com.team2.domain.member.MemberDTO" resultType="com.team2.domain.member.MemberDTO">
		SELECT
			`serial_no`, `id`, `grade`, `pw`, `email`, `name`, `join_date`, `valid`
		FROM
			`member`
		WHERE
			`id` = #{id}
	</select>
	
</mapper>