<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.team2.mapper.member.MemberMapper">

	<select id="preLogin" parameterType="com.team2.domain.member.MemberDTO" resultType="com.team2.domain.member.MemberDTO">
		SELECT
			`serial_no`, `pw`, `valid`
		FROM
			`member`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="login" parameterType="com.team2.domain.member.MemberDTO" resultType="com.team2.domain.member.MemberDTO">
		SELECT
			`serial_no`, `id`, `grade`, `pw`, `email`, `name`, `join_date`, `valid`
		FROM
			`member`
		WHERE
			`id` = #{id}
	</select>
	
	<insert id="join" parameterType="com.team2.domain.member.MemberDTO" useGeneratedKeys="true" keyColumn="serial_no" keyProperty="serial_no">
		INSERT INTO `member`
			(`id`, `pw`, `email`, `name`)
		VALUES
			(#{id}, #{pw}, #{email}, #{name})
	</insert>
	
	<update id="update" parameterType="com.team2.domain.member.MemberDTO" useGeneratedKeys="true" keyColumn="serial_no" keyProperty="serial_no">
		UPDATE `member`
		SET
			`pw` = #{pw}, `name` = #{name}, `email` = #{email}
		WHERE
			`id` = #{id}
	</update>
	
	<update id="updateValid" parameterType="Integer" useGeneratedKeys="true" keyColumn="serial_no" keyProperty="serial_no">
		UPDATE `member`
		SET
			`leave_date` = (now()), `valid` = 0
		WHERE
			`serial_no` = #{serial_no}
	</update>
	
</mapper>